# Data — large files, never commit
data/

# SLURM output logs
snellius-scripts/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.so

# Environments
.env
*.egg

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo